
.DS_Store

*.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcbkptlist

LJChatView.xcworkspace/xcuserdata/liujunjie.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

LJChatView.xcworkspace/xcuserdata/liujunjie.xcuserdatad/UserInterfaceState.xcuserstate

LJChatView.xcworkspace/xcuserdata/liujunjie.xcuserdatad/UserInterfaceState.xcuserstate

LJChatView.xcworkspace/xcuserdata/liujunjie.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

.DS_Store

LJChatView/GJGCChatInputPanel/.svn/wc.db

Library/Tim_IM_2.3.0/TLSSDK.framework/TLSSDK

*.h

Library/Tim_IM_2.3.0/IMCore.framework/IMCore

Library/Tim_IM_2.3.0/QALSDK.framework/QALSDK

Library/Tim_IM_2.3.0/ImSDK.framework/ImSDK
